/*WEB FONTS*/
@font-face {
    font-family: 'ralewayregular';
    src: url(../fonts/raleway-regular-webfont.woff2) format("woff2"),url(../fonts/raleway-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url(../fonts/opensans-regular-webfont.woff2) format("woff2"),url(../fonts/opensans-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

/*CUSTOM CSS*/
a:active {
    color: none; /*chrome webkit fix*/
}

a {
    text-decoration: none; /*chrome webkit fix*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(./js/boxsizing.htc);
}

html {
    font-size: 100%;
    line-height: 1;
    -moz-text-size-adjust: 100%;
/*remove automatic scaling property of some mobile browsers*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
/*autohide scrollbar in IE10+*/
    overflow-y: scroll;
/* has to be scroll, not auto */
/*iOs smoothscrolling*/
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: 'open_sansregular',"Helvetica Neue",Helvetica,sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin: .5em 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'ralewayregular';
}

.row {
    padding-bottom: 5em;
    float: left;
}

.wrapper {
    padding: 0 .5em;
}

*:focus {
    outline: 0 !important;
}

.container {
    padding-top: 5em;
}

/*NAV BAR*/
#nav h3 a {
    text-transform: capitalize;
    color: #000 !important;
    float: left;
    margin-top: 0.33%;
    cursor: pointer;
/*fix for safari*/
}

.logo {
    color: #26BD7B;
}

#nav h3 a:hover {
    color: #939393 !important;
}

#nav {
    padding: .5em;
}

#nav ul {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin: .5em 0 .25em;
    float: right;
}

#nav li {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75em;
}

nav a {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    padding: .75em 1em;
    border: 1px solid transparent;
/*fix for border on hover*/
    cursor: pointer;
/*fix for safari*/
/*hacks for moz and ie to display inline-block*/
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

nav a:hover {
    background: #fff;
    color: #26BD7B;
    border-bottom: 1px solid #26BD7B;
}

/* 
Hide <nav> off-screen
http://37signals.com/svn/posts/3126-another-9999px ]
*/
#nav nav {
    height: 0;
    overflow: hidden;
}

/*HEADER*/
h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -.05em;
    font-family: 'ralewayregular';
    color: #fff;
    padding-bottom: .5em;
}

#masthead p {
    color: #fff;
}

#masthead h3 {
    font-family: 'ralewayregular',Helvetica,Arial,sans-serif;
    text-transform: capitalize;
}

#container-header {
    padding: 15% 0;
}

/*PORTFOLIO*/
h2 {
    font-size: 2em;
    line-height: 1;
    font-weight: 100;
}

#content article {
    padding-top: .5em;
}

#portfolio {
    padding-top: 5em;
}

.screenshot {
    float: left;
    display: inline-block;
    width: 48%;
}

.screenshot img {
    -webkit-box-shadow: 0 8px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 8px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 0 8px 14px -6px rgba(0,0,0,0.75);
    behavior: url(./js/PIE.htc);
/*fix for IE8- for box-shadow*/
    cursor: pointer;
/*fix for safari*/
    border-radius: .75em;
}

.screenshot img:hover {
    opacity: .9;
/* IE 8 */
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
/* IE 5-7 */
    filter: alpha(opacity=90);
/* Netscape */
    -moz-opacity: .9;
/* Safari 1.x */
    -khtml-opacity: .9;
}

.description {
    padding-left: 2em;
    display: inline-block;
    width: 52%;
    float: right;
}

.description ul {
    list-style: none;
}

.description h2 {
    font-family: "ralewayregular";
    font-weight: 700;
}

.skills li {
    background-color: #26BD7B;
    color: #fff;
    border-radius: .75em;
    behavior: url(./js/boxsizing.htc);
/*fix for IE8- for border-radius*/
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
    line-height: .5em;
    padding: 1em;
    margin: .25em .5em;
    margin-left: 0;
    font-size: .75em;
    text-align: center;
    position: relative;
    display: inline-block;
}

.description a {
    color: #26BD7B;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
/*fix for safari*/
}

.description a:hover {
    color: #939393;
}

/*HEADSHOT*/
#social {
    width: 31%;
    height: 100%;
    float: left;
    display: inline-block;
    margin-right: 3%;
}

#contact-form {
    width: 66%;
    display: inline-block;
}

#social-icons {
    padding-top: .65em;
    text-align: center;
}

.icon {
    width: 50%;
    margin: auto;
    padding: .5em;
    color: #000 !important;
    font-size: 1.5em !important;
    cursor: pointer;
/*fix for safari*/
}

.icon:hover {
    color: #939393 !important;
}

/*FORM*/
#contact-form h3 {
    padding-bottom: 1em;
    text-align: center;
}

#contact-form .wrapper {
    padding: 0;
}

form {
    padding: 0 0 1em;
}

form ul {
    list-style: none;
}

form li {
    padding: 0 0 .5em;
}

label {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    padding: 0 0 .25em;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
}

input,textarea {
    display: block;
    width: 100%;
    font-family: "open_sansregular",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
    padding: .5em;
    border: none;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .75em;
    behavior: url(./js/boxsizing.htc);
}

textarea {
    height: 100%;
}

textarea {
    padding-bottom: 15%;
    overflow: auto;
/* Remove default vertical scrollbar in IE 6/7/8/9 */
    vertical-align: top;
/* Improve readability and alignment in all browsers */
}

.send,.viewmore,.viewless {
    max-width: 13em;
    font-size: 1em;
    line-height: 1;
    font-weight: 700;
    color: #26BD7B;
    text-decoration: none;
    background: #fff;
    padding: 1em;
    border: 1px solid #26BD7B;
    border-radius: .75em;
    behavior: url(./js/boxsizing.htc);
    text-transform: uppercase;
    margin: auto;
    cursor: pointer;
/*fix for safari*/
}

.viewmore,.viewless {
    margin: 0 auto;
}

.viewless {
    margin-top: 2.5%;
    clear: both;
/*fix for firefox issue with display:block;*/
}

.send {
    margin: .5em auto;
}

.send:hover,.viewmore:hover,.viewless:hover {
    background: #26BD7B;
    color: #fff;
}

/*FOOTER*/
section footer {
    clear: both;
}

#container-footer {
    font-weight: 100;
}

#colophon {
    text-align: center;
    background: #000;
    background: rgba(0,0,0,0.05);
    padding: 1.5em 0;
    margin: 0;
    margin-top: 5em;
}

/*BACK TO TOP BUTTON*/
.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #000;
}

.back-to-top i {
    font-size: 4em;
    color: #26BD7B;
}

.back-to-top {
    padding-right: 1em;
    padding-bottom: .5em;
}

#form-messages {
    color: #939393;
    margin: .5em;
    text-align: center;
}

/*FLUID MEDIA*/
figure {
    position: relative;
    margin: auto;
}

figure img,figure object,figure embed,figure video {
    display: block;
    max-width: 100%;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
/*IE fix*/
}

/*ADVANCED CHECKBOX HACK*/
body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

#nav input[type=checkbox] {
/*Hide nav offscreen*/
    position: absolute;
    top: -999em;
    left: -999em;
}

#nav label {
    display: block;
    background: url(../img/icon2.png) no-repeat right center;
    text-indent: -999em;
    cursor: pointer;
    -webkit-user-select: none;
/* Chrome all / Safari all */
    -moz-user-select: none;
/* Firefox all */
    -ms-user-select: none;
/* IE 10+ */
    user-select: none;
}

#nav input[type=checkbox]:checked ~ nav {
    height: auto;
    overflow: hidden;
}

element.style {
    display: block;
}

/********************************************
    Media Queries for Screen width > 720 px
********************************************/
@media screen and (min-width: 45em) {
    /*scale to three columns on desktop*/
    body {
        font-size: 107.69230769231%;
    }

    #skillset article {
        float: left;
        width: 33.333%;
    }

    #nav,#masthead,#content,.container {
        margin: 0 13%;
    }

    .name,.email {
        width: 100%;
    }

    #nav h3 {
        margin: .175em .5em 0 0;
    }

    #nav label {
        display: none;
    }

    #nav nav {
        height: auto;
    }

    #nav ul {
        border: 0;
        margin: 0;
    }

    #nav li {
        display: inline;
        border: 0;
    }

    nav a {
        display: inline-block;
    }
}

/*MEDIA QUERIES > 480px*/
@media screen and (min-width: 30em) {
    #contact-form .wrapper {
        width: 75%;
        margin: auto;
    }
}

/*MEDIA QUERIES < 960px*/
@media screen and (max-width: 60em) {
    #portfolio figure {
        max-width: 25em;
    }

    #container-header {
        background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/banner-sm.jpg) no-repeat top center fixed;
        behavior: url(./js/boxsizing.htc);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    #social img {
        max-width: 15em;
    }

    #nav,#masthead,#content,.container {
        margin: 0 5%;
    }

    #nav h3 {
        margin: .25em 0 0;
    }

    .screenshot {
        width: 100%;
    }

    .description {
        padding: 3.75% 0;
        width: auto;
        text-align: center;
    }

    .text {
        margin: 0;
        padding-bottom: 5%;
    }

    .skills ul {
        text-align: center;
    }

    #social {
        width: 100%;
        margin: 0;
    }

    #contact-form {
        width: 100%;
        padding-top: 2em;
    }

    #social img {
        margin: auto;
    }

    .back-to-top {
        padding-right: .15em;
        padding-bottom: 0;
    }

    #portfolio,.container {
        padding-top: 2.5em;
    }

    .row {
        padding-bottom: 2.5em;
    }

    #colophon {
        margin-top: 2.5em;
    }
}

/*MEDIA QUERIES < 720px*/
@media screen and (max-width: 45em) {
    .description h2 {
        margin: 5% auto;
    }

    #container-header {
        background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/banner-vsm.jpg) no-repeat top center fixed;
        behavior: url(./js/boxsizing.htc);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}

/*MEDIA QUERIES > 720 px and < 960px*/
@media screen and (min-width: 45em) and (max-width: 60em) {
    .description h2 {
        margin: 2.5% auto;
    }
}

/*MEDIA QUERIES > 960px*/
/* Form Breakpoint 2 / Layout Update */
@media (min-width: 60em) {
    #container-header {
        background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/banner-lg.jpg) no-repeat top center fixed;
    /*fixes position of banner*/
        behavior: url(./js/boxsizing.htc);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .name,.email {
        width: 50%;
    }

    .name {
        float: left;
        padding-right: .25em;
    }

    .email {
        float: right;
        padding-left: .25em;
    }

    .message {
        padding-top: .5em;
        min-width: 100%;
        clear: both;
    }

    .message textarea {
        max-height: 140px;
    }

    .send {
        width: 100%;
    }
}

/* Form Fixes, IE7 and below */
.ie .message textarea {
    *width: 49.9%;
}

.ie .send {
    *margin-left: 46.7%;
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
    content: " ";
/* 1 */
    display: table;
/* 2 */
    clear: both;
}

.group {
    *zoom: 1;
/* 3 */
}

/* ******************************************
    IE 7 and below, legacy browser style fixes
****************************************** */
.ie .wrapper {
    *behavior: url(./js/boxsizing.htc);
}

/* Clearfix */
.group {
    *zoom: 1;
}

/* ******************************************
    IE 8 and below, legacy browser style fixes
****************************************** */
/* Figures/Images */
.ie #portfolio figure {
    width: 100%;
}

/* "*" hack applies only to IE7 and below */
.ie #portfolio figure {
    *width: auto;
}

/* Navigation */
/* IE8 .checked class for checkbox.js */
#nav input[type=checkbox].checked ~ nav {
    height: auto;
    overflow: visible;
}

/* Always show nav, IE7 and below */
.ie #nav nav {
    *height: auto;
    *overflow: visible;
}

/* Hide navicon, IE7 and below */
.ie #nav label {
    *background: none;
}

/* box-sizing polyfill, IE7 and below */
.ie .wrapper,.ie .name,.ie .email,.ie input,.ie textarea {
    behavior: url(./js/boxsizing.htc);
}

/*BROWSER SPECIFIC HACKS*/
@-ms-viewport {
/*IE10 viewport fix*/
    width: device-width;
}