/* COLOUR PALETTE */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: 'Raleway', sans-serif;
  color: #414345; }

.row {
  margin: 0; }

.noshow {
  visibility: hidden; }

/* BUTTONS */
.btn.btn-default {
  color: #FFF;
  border: none;
  background-color: #556270;
  transition: all 0.5s ease;
  padding: 12px 24px; }

.btn.btn-default:hover, .btn.btn-default:focus {
  background-color: #d4d4d4;
  color: #556270;
  font-weight: 700; }

/* FORMS */
.form-control {
  padding: 24px; }

.form-control:focus {
  border-color: #556270;
  box-shadow: 0 1px 1px #d4d4d4; }

/* NAVBAR */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: #d4d4d4; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF; }

.navbar a.active,
.navbar a.active:focus,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.hover {
  color: #FFF; }

.container-fluid {
  padding: 0; }

.navbar {
  position: absolute;
  border-radius: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease;
  border: none;
  border-bottom: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  z-index: 1; }

.navbar li a {
  transition: color 0.5s ease; }

.navbar-default .navbar-brand {
  text-transform: uppercase; }

.nav > li {
  text-align: center; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #d4d4d4;
  border-color: #FFF; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; }

/* JUMBOTRON */
.jumbotron h1 {
  color: #556270; }

.jumbotron {
  display: flex;
  align-items: center;
  /* align vertical */
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF; }

canvas {
  width: 100%; }

.container.learn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1%; }

.learn h4, .learn a {
  color: #FFF; }

.learn a {
  font-size: 32px;
  cursor: pointer;
  transition: all 0.5s ease; }

.learn a:hover {
  color: #556270; }

/* SECTIONS */
.container {
  position: relative; }

.section:not(#home) {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #FFF;
  padding: 10% 0;
  position: relative; }

#home {
  background: #556270;
  background: -webkit-linear-gradient(to left, #556270, #d4d4d4);
  background: linear-gradient(to left, #556270, #d4d4d4); }

/* PORTFOLIO */
#examples {
  color: #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  height: 100vh; }

#examples .carousel {
  position: static; }

#carousel img:not(.example) {
  width: 500px;
  max-width: 100%; }

.carousel .laptop {
  position: relative;
  top: 0;
  left: 0; }

.carousel .example {
  cursor: pointer;
  position: absolute;
  top: 7.5%;
  left: 14%;
  width: 72%;
  height: 77%;
  border-radius: 2px;
  z-index: -1; }

.carousel-inner {
  width: 95%;
  margin: auto;
  overflow: initial; }

.carousel .hoverwrapper {
  display: inline-block;
  position: relative;
  padding: 0;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease; }

.carousel .hoverwrapper:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%); }

.carousel-control {
  width: 5%;
  text-shadow: none;
  opacity: 1;
  color: #d4d4d4;
  transition: color 0.5s ease; }

.carousel-control:focus {
  color: #d4d4d4; }

.carousel-control:hover, .carousel-indicators li:hover {
  color: #FFF; }

.carousel-control.left, .carousel-control.right {
  background: none; }

.carousel-indicators {
  bottom: 67.5px; }

.carousel-indicators li {
  border: none;
  background-color: #d4d4d4;
  border-radius: 0;
  transition: transform 0.5s ease; }

.carousel-indicators li.active {
  background-color: #556270;
  border: 1px solid #d4d4d4;
  width: 12px;
  height: 12px;
  transform: rotate(180deg); }

/* MODAL */
iframe {
  height: 80vh; }

.modal {
  padding: 0 !important; }

.modal-dialog {
  width: 100%;
  margin: 0; }

.modal-content {
  height: 98vh;
  margin: 0.5%;
  border-radius: 0; }

.modal-header h1, .modal-header h4 {
  color: #414345; }

.close {
  font-size: 28px;
  opacity: 1;
  text-shadow: none;
  transition: color 0.5s ease;
  color: #d4d4d4;
  margin-right: 10px; }

.close:hover {
  color: #556270;
  opacity: 1; }

.modal-header {
  border: none; }

.modal-open {
  overflow: auto; }

.modaldesc h1 {
  display: inline-block;
  margin-left: -5%; }

.modaldesc a {
  float: left; }

/* SKILLS */
#skills {
  background: #FFF;
  border-bottom: 1px solid #232526 !important; }

#skills h1 {
  color: #414345; }

.skillsbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.skillsbox li {
  margin: 2.5%; }

.skillsbox a {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative; }

.skillsbox img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease;
  display: block;
  max-width: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.skillsbox img:hover {
  filter: none; }

#skills .learn a {
  color: #414345; }

#skills .learn a:hover {
  color: #556270; }

/* CONTACT */
#contact {
  background: #d4d4d4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #d4d4d4, #FFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #d4d4d4, #FFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

#contact h1 {
  margin-bottom: 5%; }

.icongroup {
  display: inline; }

.socialsection {
  border: 1px solid #FFF;
  margin-top: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: #414345; }

.socialsection .icon {
  color: #556270;
  font-size: 28px;
  margin: 0 2.5%;
  transition: color 0.5s ease;
  text-decoration: none; }

.socialsection .icon:hover {
  color: #d4d4d4;
  text-decoration: none; }

.social img {
  width: 297px;
  max-width: 100%;
  max-width: 100%;
  border: 4px solid #FFF; }

/* FOOTER */
footer {
  border-top: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  text-align: center;
  color: #FFF;
  padding: 15px 0; }

footer p {
  margin: 0; }

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .jumbotron {
    width: 100%;
    padding: 0 5%; } }
@media (min-width: 780px) {
  .section:not(#home):not(#contact) {
    height: 100vh;
    padding: 0; }

  #contact {
    height: auto; } }
@media (min-width: 992px) {
  #contact {
    height: 100vh; } }
@media (max-width: 431px) {
  #examples {
    height: auto; } }
@media (max-width: 431px) {
  .hoverwrapper {
    margin: 30px 0; }

  .carousel-indicators {
    bottom: 41.5px; }

  .carousel .example {
    height: 64%; } }
@media (min-width: 432px) {
  .carousel .hoverwrapper h4 {
    height: 38px;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, 0); } }
@media (min-width: 432px) and (max-width: 991px) {
  .carousel .col-md-4 {
    width: 32%; } }
@media (min-width: 780px) and (max-width: 835px) {
  #examples {
    margin-bottom: 5%; } }
@media (max-width: 767px) {
  #contact .container {
    width: 100%; } }
@media (max-width: 991px) {
  #contact .col-md-6 {
    margin-bottom: 5%; } }
@media (max-width: 377px) {
  .icongroup {
    display: block;
    margin-top: 15px; } }
@media (max-height: 400px) {
  .jumbotron {
    top: 25%;
    left: 0;
    transform: none; }

  .carousel-indicators {
    bottom: auto;
    top: 90px; } }

/*# sourceMappingURL=style.css.map */
