/*WEB FONTS*/
@font-face {
    font-family: 'ralewayregular';
    src: url(../fonts/raleway-regular-webfont.woff2) format("woff2"),url(../fonts/raleway-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url(../fonts/opensans-regular-webfont.woff2) format("woff2"),url(../fonts/opensans-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

/*CUSTOM CSS*/
html {
    font-family: 'open_sansregular',sans-serif;
    font-size: 100%;
    line-height: 1;
    -moz-text-size-adjust: 100%;
/*remove automatic scaling property of some mobile browsers*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'open_sansregular',sans-serif;
    background-color: #26BD7B;
}

:focus {
    outline: 0 !important;
}

.logo {
    color: #26BD7B;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(../js/boxsizing.htc);
/*fallback for IE6-8*/
}

/*NAV BAR*/
#container-nav {
    background-color: #fff;
}

#nav {
    margin: 0 5%;
    padding: .5em 0;
}

#nav nav {
    height: auto;
    overflow: hidden;
}

#nav ul {
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em !important;
    padding: .75em 1em;
    cursor: pointer;
/*add support for safari*/
/*hacks for moz and ie to display inline-block*/
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

nav a:hover {
    color: #939393;
}

#nav h3 {
    font-family: 'ralewayregular',sans-serif;
    font-size: 1.5em;
    float: left;
    margin: .5em .5em 0 0;
    color: #000;
    font-weight: 700;
}

#nav h3:hover {
    color: #939393;
}

#social {
    margin-top: .5em;
}

/*CONTENT*/
h1 {
    font-family: 'ralewayregular',sans-serif;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 2.5%;
}

.wrapper {
    margin: auto 2.5%;
}

.container {
    background-color: #fff;
    border-radius: .75em;
    overflow: hidden;
    padding: 0 5%;
    max-width: 45em;
    margin: auto;
    margin: 2.5% auto;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.8),0 25px 55px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 16px 28px 0 rgba(0,0,0,.8),0 25px 55px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,.8),0 25px 55px 0 rgba(0,0,0,0.15);
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

.container ul {
    list-style: none;
    margin: 0;
}

.content li {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    padding-bottom: 2.5%;
    margin: 2.5% auto;
}

.content img {
    max-width: 66%;
    border-radius: .75em;
    margin: 2.5% auto;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

.content p {
    margin: 0;
}

.content a {
    color: #26BD7B;
    font-weight: 700;
    cursor: pointer;
/*safari fix*/
}

.content a:hover {
    color: #939393;
    text-decoration: none;
}

.descr {
    font-weight: 700;
}

.Offline img,.Closed img {
    width: 0;
    height: 0;
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
    content: " ";
    display: table;
    clear: both;
}

.group {
    *zoom: 1;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 30em) {
    nav a {
        padding: .75em .25em;
    }

    .content h3 {
        margin: 10% auto;
    }
}

@media screen and (min-width: 30em) {
    .content {
        margin: 1em auto;
    }

    .content img {
        width: 50px;
        height: 50px;
        border-radius: .75em;
        float: left;
        margin: 0;
        margin-right: 1em;
        behavior: url(../js/PIE.htc);
    /*fix for IE8- and below for box-shadow and/or border-radius*/
    }

    .content li {
        width: 100%;
        display: inline-block;
        float: left;
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
    }

    .content a {
        float: left;
        text-align: left;
        width: 33%;
    }

    .content p {
        margin: 0;
        float: left;
    }

    .content .descr {
        float: left;
    }

    .content .state {
        float: right;
        width: 20%;
        text-align: right;
    }

    .row {
        margin: 1em auto;
    }
}

/*BROWSER SPECIFIC HACKS*/
@-ms-viewport {
/*IE10 viewport fix*/
    width: device-width;
}