/*WEB FONTS*/
@font-face {
    font-family: 'ralewayregular';
    src: url(../fonts/raleway-regular-webfont.woff2) format("woff2"),url(../fonts/raleway-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url(../fonts/opensans-regular-webfont.woff2) format("woff2"),url(../fonts/opensans-regular-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

/*CUSOTM CSS*/
html {
    font-family: 'open_sansregular',sans-serif;
    font-size: 100%;
    line-height: 1;
    -moz-text-size-adjust: 100%;
/*remove automatic scaling property of some mobile browsers*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
/*autohide scrollbar in IE10+*/
    overflow-y: scroll;
/* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

body {
    background-color: #26BD7B;
}

:focus {
    outline: 0 !important;
}

#logo {
    color: #26BD7B;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    behavior: url(../js/boxsizing.htc);
/*fallback for IE6-8*/
}

/*CONTENT*/
.container {
    width: 50%;
    max-width: 36em;
    margin: 5% auto;
    font-family: 'open_sansregular',sans-serif;
    background-color: #fff;
    border-radius: .75em;
    padding: 2.5%;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

.random {
    text-align: center;
}

.random a {
    text-decoration: none;
    cursor: pointer;
/*add support for safari*/
}

.content {
    margin: auto 5%;
}

.content button {
    color: #26BD7B;
    background: #fff;
    border: 1px solid #26BD7B;
    border-radius: .75em;
    font-family: 'open_sansregular',sans-serif;
    margin-bottom: 2.5%;
    width: 100%;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
    cursor: pointer;
/*add support for safari*/
}

.content button:hover {
    background: #26BD7B;
    color: #fff;
}

button h3 {
    margin: 2.5% auto;
    font-weight: 700;
    cursor: pointer;
/*add support for safari*/
}

button p {
    margin-bottom: 2.5%;
    cursor: pointer;
/*add support for safari*/
}

#title {
    max-width: 50%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family: 'ralewayregular',sans-serif;
    margin-top: 5%;
    margin-bottom: 0;
}

/*NAV BAR*/
#container-nav {
    background-color: #fff;
}

#nav {
    margin: 0 5%;
    padding: .5em 0;
}

#nav nav {
    height: auto;
    overflow: hidden;
}

#nav ul {
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em !important;
    padding: .75em 1em;
    cursor: pointer;
/*add support for safari*/
/*hacks for moz and ie to display inline-block*/
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

nav a:hover {
    color: #939393;
}

#nav h3 {
    font-family: 'ralewayregular',sans-serif;
    font-size: 1.5em;
    float: left;
    margin: .5em .5em 0 0;
    color: #000;
    font-weight: 700;
}

#nav h3:hover {
    color: #939393;
}

#social {
    margin-top: .5em;
}

/*SEARCHBAR*/
#search {
    line-height: 2;
    text-align: center;
    font-size: 1em;
    padding: 0;
    width: 100%;
    box-shadow: none;
    border: 1px solid #939393;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

.form-control {
    border-radius: .75em;
    max-width: 28em;
    margin: 5% auto;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

/*BUTTON*/
a.btn {
    text-decoration: none;
    display: block;
    max-width: 15em;
    background: #26BD7B;
    padding: 0 1em;
    border: 1px solid #26BD7B;
    border-radius: .75em;
    margin: 2.5% auto;
    font-family: 'open_sansregular',sans-serif;
    font-size: 1em;
    line-height: 2.5;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
    cursor: pointer;
/*add support for safari*/
}

a.btn:hover {
    background: #fff;
    color: #26BD7B;
    border: 1px solid #26BD7B;
}

.btn-default:active,.btn-default:focus {
    color: #fff !important;
    background: #26BD7B !important;
    border: 1px solid #26BD7B !important;
    box-shadow: none !important;
    behavior: url(../js/PIE.htc);
/*fix for IE8- and below for box-shadow and/or border-radius*/
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
    content: " ";
    display: table;
    clear: both;
}

.group {
    *zoom: 1;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 45em) {
    nav a {
        padding: .75em .5em;
    }

    .container {
        width: 90%;
    }
}

/*BROWSER SPECIFIC HACKS*/
@-ms-viewport {
/*IE10 viewport fix*/
    width: device-width;
}