/* COLOUR PALETTE */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: 'Raleway', sans-serif;
  color: #414345; }

.row {
  margin: 0; }

/* NAVBAR */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: #d4d4d4; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF; }

.navbar a.active,
.navbar a.active:focus,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.hover {
  color: #FFF; }

.container-fluid {
  padding: 0; }

.navbar {
  position: absolute;
  border-radius: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease;
  border: none;
  border-bottom: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  z-index: 1; }

.navbar li a {
  transition: color 0.5s ease; }

.navbar-default .navbar-brand {
  text-transform: uppercase; }

.nav > li {
  text-align: center; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #d4d4d4;
  border-color: #FFF; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; }

.nav a i {
  font-size: 18px; }

/* CONTENT */
.content {
  height: 100vh;
  position: relative;
  background: #d4d4d4;
  background: -webkit-linear-gradient(to top, #d4d4d4, #FFF);
  background: linear-gradient(to top, #d4d4d4, #FFF); }

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

@media (max-width: 480px) {
  .main {
    width: 100%; } }
#container {
  max-width: 40em;
  margin: 5% auto 0;
  padding: 2em;
  border: 1px solid #d4d4d4;
  border-radius: .75em;
  background-color: #232526;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5); }

.window {
  margin: auto 2.5%; }

.buttons, .author {
  width: 50%; }

.buttons {
  float: left; }

.author {
  float: right; }

ul {
  list-style: none; }

.padder {
  padding-top: 2em; }

#author {
  text-align: right; }

.author h3 {
  margin: 0;
  font-size: 1.25em;
  line-height: 1; }

.buttons a {
  padding-right: 2em; }

.buttons i {
  font-size: 2em; }

#new-quote i, #tweet i {
  color: #d4d4d4 !important;
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  transition: all 0.5s ease; }

#new-quote i:hover, #tweet i:hover {
  color: #FFF !important; }

#title {
  text-align: center;
  color: #232526;
  margin-top: 5%;
  margin-bottom: 0; }

.description {
  text-align: center;
  color: #d4d4d4;
  font-size: 1.375em;
  margin-bottom: 0; }

#quote {
  color: #FFF; }

#author {
  color: #d4d4d4; }

/* FOOTER */
footer {
  border-top: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  text-align: center;
  color: #FFF;
  padding: 15px 0; }

footer p {
  margin: 0; }

/*# sourceMappingURL=style.css.map */
