/* COLOUR PALETTE */

$bgDark: #556270;
$bgLight: #d4d4d4;
$black: #232526;
$grey: #414345;
$white: #FFF;
$success-border: #00ff3b;
$error-border: #fa4f4f;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

body {
  font-family: 'Raleway', sans-serif;
  color: $grey; } 

.row {
  margin: 0;
}

.noshow {
  visibility: hidden;
}

/* BUTTONS */

.btn.btn-default {
  color: $white;
  border: none;
  background-color: $bgDark;
  transition: all 0.5s ease;
  padding: 12px 24px; }

.btn.btn-default:hover, .btn.btn-default:focus {
  background-color: $white;
  color: $bgDark;
  font-weight: 700;
  outline: none; }

a {
  color: $bgDark;
}

a:hover, a:active, a:focus {
  color: $grey;
  text-decoration: none;
}

/* FORMS */

.form-control {
  padding: 24px;
}

.form-control:focus {
  border-color: $bgDark;
  box-shadow: 0 1px 1px $bgLight;
}

/* NAVBAR */

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  color: $bgLight; 

  &:hover {
    color: $white;
  }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $bgLight; 
}

.navbar-default .navbar-brand span:hover {
  color: $white;
  transition: color 0.25s ease;
}

.navbar a.active span,
.navbar a.active span:focus,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.hover {
  color: $white; }

.container-fluid {
  padding: 0; }

.navbar {
  position: absolute;
  border-radius: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease;
  border: none;
  border-bottom: 1px solid $white;
  background: $black;
  background: -webkit-linear-gradient(to left, $black, $grey);
  background: linear-gradient(to left, $black, $grey);
  z-index: 1; }

.navbar li a {
  transition: color 0.5s linear; }

.navbar-default .navbar-brand {
  text-transform: uppercase; }

.nav>li, .navbar-brand {
  text-align: center;
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/* NAV HOVER SLIDE */

.list-hover-slide {
  
  li {
    position: relative;
    overflow: hidden;
  }
  
  a {
    display: block;
    position: relative;
    z-index: 1;
    transition: .35s ease color;
    
    &:before {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      left: -100%; top: 0;
      width: 100%; height: 100%;
      border-bottom: 2px solid $bgLight;
      transition: .35s ease left;
    }
    
    &:hover{
      
      &:before{
        left: 0;
      }
    }
  }

  a.active {
    &:before {
      left: 0 !important;
    }
  }
}

/* NAVICON */

$duration: .5s;
$size : 100%;
$toggled-size : .75;

.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: $duration/2;
  cursor: pointer;
  user-select: none;
  opacity: .8;
  margin: 0;
  margin-top: 3px;

  .navicon:before, .navicon:after {
    transition: $duration/2;
  }

  &:hover {
    transition: $duration;
    opacity: 1;

    .navicon:before, .navicon:after {
      transition: $duration/2;
    }

    .navicon:before { top: .825rem; }
    .navicon:after { top: -.825rem; }
  }
}

.navicon {
  position: relative;
  width: 2em;
  height: .3125rem;
  transition: $duration;
  border-radius: 2.5rem;
  background-color: $white;

  &:before, &:after {
    display: block;
    content: "";
    height: .3125rem;
    width: 2em;
    position: absolute;
    transition: $duration $duration/2;
    border-radius: 1rem;
    background-color: $white;
  }

  &:before { top: .625rem; }
  &:after { top: -.625rem; }
}

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

.open .navicon:before,
.open .navicon:after {
  transition: $duration;
}

/* Minus */
.open { transform: scale($toggled-size); }

.open.x {
  .navicon {
    background: transparent;

    &:before { transform: rotate(-45deg); }
    &:after { transform: rotate(45deg); }
  }
}

@media (min-width: 768px) {
  .navicon {
    display: none;
  }
}

/* JUMBOTRON */

.jumbotron h1 {
  color: $bgDark; }

.jumbotron {
  display: flex;
  align-items: center;
  /* align vertical */
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white; }

canvas {
  width: 100%; }

/* LEARN MORE BUTTON */

.container.learn {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.learn h4, .learn a {
  color: $white;
}

.learn a {
  font-size: 32px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.learn a:hover {
  color: $bgDark;
}

/* SECTIONS */

.container {
  position: relative; }

.section:not(#home) {
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  position: relative; }

#home {
  background: $bgDark;
  background: -webkit-linear-gradient(to left, $bgDark , $bgLight);
  background: linear-gradient(to left, $bgDark , $bgLight); }

/* PORTFOLIO */

#examples {
  color: $white;
  background: $black;
  background: -webkit-linear-gradient(to left, $black , $grey);
  background: linear-gradient(to left, $black ,$grey); }

#examples .carousel {
  position: static;
}

#carousel img:not(.example) {
  width: 500px;
  max-width: 100%; }

.carousel .laptop {
  position: relative;
  top: 0;
  left: 0;
}

.carousel .example {
  cursor: pointer;
  position: absolute;
  top: 7.5%;
  left: 14%;
  width: 72%;
  height: 77%;
  border-radius: 2px;
  z-index: -1;
}

.carousel-inner {
  width: 95%;
  margin: auto;
  overflow: initial;
}

.carousel .hoverwrapper {
  display: inline-block;
  position: relative;
  padding: 0;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: all 0.5s ease; }

.carousel .hoverwrapper:hover {
  cursor: pointer;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.carousel-control {
  width: 5%;
  text-shadow: none;
  opacity: 1;
  color: $bgLight;
  transition: color 0.5s ease; }

.carousel-control:focus {
  color: $bgLight;
}

.carousel-control:hover, .carousel-indicators li:hover {
  color: $bgDark; }

.carousel-control.left, .carousel-control.right {
  background: none; }

.carousel-indicators {
  bottom: 67.5px;
}

.carousel-indicators li {
  border: none;
  background-color: $bgLight;
  border-radius: 0;
  transition: transform 0.5s ease; }

.carousel-indicators li.active {
  background-color: $bgDark;
  border: 1px solid $bgLight;
  width: 12px;
  height: 12px;
  transform: rotate(180deg); }

/* MODAL */

.modal {
  padding: 0 !important; }

#modal .col-md-6 {
  top: 50%;
  transform: translateY(-50%);
}

.modal-dialog {
  width: 100%;
  margin: 0; }

.modal-content {
  height: 98vh;
  margin: 0.5%;
  border-radius: 0; }

.modal-body {
  height: 87vh;
}

.modal-header h1, .modal-header h4 {
  color: $grey; }

.close {
  font-size: 28px;
  opacity: 1;
  text-shadow: none;
  transition: color 0.5s ease;
  color: $bgLight;
  margin-right: 10px; }

.close:hover {
  color: $bgDark;
  opacity: 1; }

.modal-header {
  border: none; }

.modal-open {
  overflow: auto; }

.modaldesc h1 {
  display: inline-block;
  margin-left: -15%;
}

.modaldesc a {
  float: left;
}

#modal .carousel-inner, #modal .item {
  height: 78vh;
}

#modal .carousel-control, #modal .carousel-control:focus {
  color: $bgDark;
}

#modal .carousel-control:hover {
  color: $bgLight;
}

#modal .carousel-indicators {
  bottom: 20px;
}

#modal .carousel-indicators li {
  border-color: $black;
}

#modal .description {
  color: $grey;
  text-align: left;
}

#modal .description h3 {
  margin-top: 0;
  color: $black;
}

#modal .description p, #modal {
  font-size: 16px;
}

#modal .caption, #modal .userstories {
  margin-top: 5%;
}

#modal .userstories {
  list-style-type: none;  
  padding: 0;
}

#modal .applink:nth-of-type(2) {
  margin-left: 16px;
}

/* SKILLS */

#skills {
  background: $white;
  border-bottom: 1px solid $black !important;
}

#skills h1 {
  color: $grey;
}

.skillsbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.skillsbox li {
  margin: 2.5%; }

.skillsbox a {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative; }

.skillsbox img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  display: block;
  max-width: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.skillsbox img:hover {
  filter: none;
}

#skills .learn a {
  color: $grey;
}

#skills .learn a:hover {
  color: #556270;
}

/* CONTACT */

#contact {
  background: $bgLight;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, $bgLight, $white);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, $bgLight, $white);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 5%; }

#contact h1 {
  margin: 5% 0;
}

.icongroup {
  display: inline;
}

.socialsection {
  border: 1px solid #FFF;
  padding: 15px;
  border-radius: 4px;
  background-color: #414345;
  text-align: center;
}

.socialsection .icon {
  color: $bgDark;
  font-size: 28px;
  margin: 0 2.5%;
  transition: color 0.5s ease;
  text-decoration: none;
}

.socialsection .icon:hover {
  color: $bgLight;
  text-decoration: none;
}

.social img {
  width: 345px;
  max-width: 100%;
  max-width: 100%;
  border: 4px solid $white;
}

#contact-form {
  text-align: left;
}

#contact-form label {
  transform: translateY(40px);
  padding-left: 24px;
  color: $bgLight;
  font-weight: 300;
  transition: transform 0.5s ease;

  &.active {
    color: $black;
    transform: translate(-24px, 0);
  }
}

#contact-form .form-group.first {
  margin-top: -24px;
}

#contact-form .btn-animation {
  margin-bottom: 4px;
}

#contact-form button[type="submit"] {
  min-width: 120px; }

#contact-form .form-control, #contact-form span.error {
  transition: all 0.5s ease;
}

#contact-form span.error {
  opacity: 0;
  display: block;
  margin-top: 8px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
    -webkit-text-fill-color: #555 !important;
}

.has-success .form-control, .has-success .form-control:focus {
  border-color: $success-border;
  box-shadow: none;
}

.has-error .form-control, .has-error .form-control:focus {
  border-color: $error-border;
  box-shadow: none;
}

.fa.fa-check, .fa.fa-times {
  display: none;
  margin-left: 8px;
  color: $white;
}

.btn.btn-default.message:focus, .btn.btn-default.message:hover {
  background-color: $bgDark;
  color: $white;
  font-weight: 300;
}

/* CONTACT BUTTON ANIMATION */

.btn-animation {
  height: 56px;
}

@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
  to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
  to { transform: rotate(360deg); }
}

#contact-form button[type=submit].animate {
  outline: none;
  width: 40px;
  height: 56px;
  color: transparent;
  overflow: hidden;
  transition: 0.5s all ease-in-out;
  background: transparent;
  border-radius: 50%;
  border-top: 4px solid $white;
  border-right: 4px solid $grey;
  border-bottom: 4px solid $white;
  border-left: 4px solid $white;
  animation: loading 1s infinite cubic-bezier(0.3,1,0.7,.5);
  min-width: auto;
}

/* FOOTER */

footer {
  border-top: 1px solid $white;
  background: $black;
  background: -webkit-linear-gradient(to left, $black, $grey);
  background: linear-gradient(to left, $black, $grey);
  text-align: center;
  color: $white;
  padding: 15px 0;
}

footer p {
  margin: 0;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {
  .jumbotron {
    width: 100%;
    padding: 0 5%;
  }
}

@media (min-width: 432px) {
  .section:not(#home):not(#contact) {
    min-height: 100vh;
    padding: 0;
  }

  #contact {
    height: auto;
  }
}

@media (max-width: 431px) {
  #examples {
    height: auto;
  }
}

@media (max-width: 431px) {
  .hoverwrapper {
    margin: 30px 0;
  }

  .hoverwrapper:last-of-type {
    margin-bottom: 90px;
  }

  .carousel-indicators {
    bottom: 41.5px;
  }

  .carousel .example {
    height: 64%;
  }
}

@media (min-width: 432px) {
  .carousel .hoverwrapper h4 {
      height: 38px;
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translate(-50%, 0);
  }
}

@media (min-width: 432px) and (max-width: 991px) {
  .carousel .col-md-4 {
    width: 32%;
  }
}

@media (min-width: 780px) and (max-width: 835px) {
  #examples {
    margin-bottom: 5%;
  }
}

@media (max-width: 767px) {
  #contact .container {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #contact .col-md-6 {
    margin-bottom: 5%;
  }
}

@media (max-width: 377px) {
  .icongroup {
      display: block;
      margin-top: 15px;
  }
}

@media (max-height: 400px) {
  .jumbotron {
    top: 25%;
    left: 0;
    transform: none;
  }

  .carousel-indicators {
    bottom: auto;
    top: 90px;
  }
}

@media (min-width: 992px) and (max-width: 1302px) {
  #modal .description {
    overflow: auto;
  }
}

@media (max-width: 991px) {
  #modal .modal-content {
    overflow: auto;
  }

  #modal .modaldesc h1 {
    display: block;
    margin-left: 0;
  }

  #modal .modaldesc a {
    float: none;
  }

  #modal .col-md-6 {
    top: auto;
    transform: none;
    margin-bottom: 5%;
  }

  #modal iframe {
    height: 500px !important;
  }

  #modal .description {
    text-align: center;
  }

  #modal .userstories {
    margin-bottom: 10%;
  }

  #modal .modal-content, #modal .modal-body, #modal .carousel-inner, #modal .item, #modal .description {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  #modal iframe {
    width: 100%;
  }
}

@media (max-width: 720px) {
  #modal .carousel-control .glyphicon {
    margin-right: 0;
    margin-left: 0;
    top: 0;
  }
}

@media (max-width: 480px) {
  #modal .carousel-indicators {
    bottom: 0;
  }
}

@media (max-width: 345px) {
  #modal .modaldesc a {
    margin: 5% 0;
  }
}

@media (max-width: 499px) {
  #skills .container-fluid {
    margin-bottom: 90px;
  }
}