/* COLOUR PALETTE */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url(../fonts/0dTEPzkLWceF7z0koJaX1A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
body {
  font-family: 'Raleway', sans-serif;
  color: #414345;
  background: #d4d4d4;
  background: -webkit-linear-gradient(to top, #d4d4d4, #FFF);
  background: linear-gradient(to top, #d4d4d4, #FFF); }

.row {
  margin: 0; }

/* NAVBAR */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
  color: #d4d4d4; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF; }

.navbar a.active,
.navbar a.active:focus,
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.hover {
  color: #FFF; }

.container-fluid {
  padding: 0; }

.navbar {
  position: absolute;
  border-radius: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.75s ease;
  border: none;
  border-bottom: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  z-index: 1; }

.navbar-content {
  padding: 0 15px; }

.navbar-header {
  float: left !important; }

.navbar-right {
  float: right !important; }

.nav > li {
  display: inline-block; }

.navbar li a {
  transition: color 0.5s ease; }

.navbar-default .navbar-brand {
  text-transform: uppercase; }

.nav > li {
  text-align: center; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #d4d4d4;
  border-color: #FFF; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; }

.nav a i {
  font-size: 18px; }

/* CONTENT */
.content {
  min-height: 100vh;
  height: 100vh;
  position: relative; }

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#container {
  padding: 2em;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  background-color: #232526;
  text-align: center;
  line-height: 1;
  max-width: 20em;
  margin: 3.75% auto;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  color: #d4d4d4; }

#container h1 {
  margin: 1em auto; }

#container ul {
  list-style: none; }

.window {
  float: left;
  width: 50%;
  margin-bottom: 2em;
  padding: 0 1em; }

.symbols {
  padding: 0; }

.symbols li {
  float: left;
  width: 50%;
  font-size: 2em;
  color: #d4d4d4;
  cursor: pointer; }

.symbols li:hover {
  color: #FFF;
  cursor: pointer; }

#container h4 {
  margin: 1em auto; }

#title {
  text-align: center;
  color: #232526;
  margin-top: 3.75%;
  margin-bottom: 0; }

.description {
  text-align: center;
  color: #414345;
  font-size: 1.375em;
  margin-bottom: 0; }

/*BUTTON*/
#start {
  display: block;
  max-width: 13em;
  font-size: 1em;
  line-height: 1;
  color: #d4d4d4;
  text-decoration: none;
  background: #232526;
  padding: 1em;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  text-transform: uppercase;
  margin: .5em auto;
  width: 100%;
  cursor: pointer; }

#start:hover {
  color: #FFF;
  background-color: #232526; }

@media (max-width: 480px) {
  .main {
    width: 100%; } }
/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

.group {
  *zoom: 1;
  /* 3 */ }

/* FOOTER */
footer {
  border-top: 1px solid #FFF;
  background: #232526;
  background: -webkit-linear-gradient(to left, #232526, #414345);
  background: linear-gradient(to left, #232526, #414345);
  text-align: center;
  color: #FFF;
  padding: 15px 0; }

footer p {
  margin: 0; }

/* MEDIA QUERIES */
@media (max-width: 286px) {
  .navbar-header, .navbar-nav {
    float: none !important;
    text-align: center; }

  .navbar-brand {
    width: 100%; } }
@media (max-width: 720px) and (max-height: 600px) {
  .container {
    position: static;
    top: auto;
    left: auto;
    top: auto;
    transform: none; } }
@media (max-height: 600px) {
  .navbar {
    position: relative; }

  .content {
    height: auto;
    margin-bottom: 5%; }

  .main {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
